venv
__pycache__
*/__pycache__

config/credentials.py
config/logger.yml
log/*.log

export/*.txt
export/*.csv
export/*.json
export/*.zip
export/*.yml
export/*.xml
export/*.xlsx

controllers/etls.py

data/data_to_run.json